.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

section{
  padding: 0 5em !important;
}


table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.content{
  padding: 0 3em;
}

.header{
  margin-bottom: 3em;
}
