<!--Stepper section-->
<section>
  <mat-card>
    <mat-card-title>Lorem ipsum dolor sit amet</mat-card-title>
    <mat-card-content>Lorem ipsum dolor sit amet</mat-card-content>
  </mat-card>

</section>


<section>

  <mat-vertical-stepper [linear]="isLinear" #stepper>

    <!--    FIRST STEP-->
    <!--    GENERAL INFORMATION-->

    <mat-step [stepControl]="firstFormGroup" errorMessage="Some information are missing.">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>General information</ng-template>
        <p>Complete the following fields about the request.</p>
        <p>
          <mat-form-field>
            <mat-label>Owner</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="owner" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-label>Customer</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="customer" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill">
            <mat-label>Scope</mat-label>
            <mat-select required formControlName="scopeControl">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let scope of scopes" [value]="scope.name">
                {{scope.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <div>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!--    SECOND STEP-->
    <!--    SIZING INFORMATION-->

    <mat-step [stepControl]="secondFormGroup"  errorMessage="Some information are missing.">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Sizing information</ng-template>

        <p>Complete the following fields about the service.</p>
        <p>
          <mat-form-field>
            <mat-label>Service Name</mat-label>
            <input matInput formControlName="name" placeholder="Insert a service name..."
                   required>
          </mat-form-field>
        </p>

        <p>
          <mat-checkbox formControlName="high_availability">High Availability</mat-checkbox>
        </p>

        <p>
          <mat-checkbox formControlName="monitoring">Monitoring</mat-checkbox>
        </p>

        <p>
          <mat-form-field appearance="fill">
            <mat-label>Environment</mat-label>
            <mat-select formControlName="environment" required>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <p>
          <mat-checkbox formControlName="logging">Logging</mat-checkbox>
        </p>

        <p>
          <mat-form-field appearance="fill">
            <mat-label>Database Type</mat-label>
            <mat-select formControlName="database_type">
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!--    THIRD STEP-->
    <!--    COMPONENT STACK-->
    <mat-step [stepControl]="thirdFormGroup"  errorMessage="Some information are missing.">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Stack</ng-template>

        <p>Choose between the following applications and click on the desidered sizing.</p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Choose an application</mat-label>
            <mat-select formControlName="component" (selectionChange)="getSizings()" required>
              <mat-option *ngFor="let app of this.applications" value="{{app.name}}">{{app.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <ng-container *ngIf="this.isSelected">
          <mat-grid-list cols="3" >
            <mat-grid-tile *ngFor="let size of this.available_sizings">
              <mat-card class="example-card" (click)="setSizing(size)" mat-ripple>
                <mat-card-header>
                  <mat-card-title>{{size.name}}</mat-card-title>
                  <mat-card-subtitle>Details</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    {{size.mCPU}} {{size.u_mCPU}}
                  </p>
                  <p>
                    {{size.RAM}} {{size.u_RAM}}
                  </p>
                  <mat-chip color="accent" *ngIf="size.selected" selected>Selected!</mat-chip>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
              </mat-card>

            </mat-grid-tile>
          </mat-grid-list>

          <p>
            <button mat-raised-button color="primary" (click)="addComponent()">Add</button>
            <button mat-raised-button color="accent" (click)="reset()">Reset</button>
          </p>

        </ng-container>

        <p>
          <strong>Chosen applications:</strong>
        </p>
        <p>
          <ng-container *ngIf="this.components.length > 0">
            <mat-chip-list aria-label="applications selection">
              <mat-chip matBadge="{{component.available_sizing[0].label}}" color="accent" *ngFor="let component of this.components">{{component.name}}</mat-chip>
            </mat-chip-list>
          </ng-container>
        </p>

        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!--    FORTH STEP-->
    <!--    FINAL RESULT-->
    <mat-step>
      <ng-template matStepLabel>Final report</ng-template>
      <p><strong>Congratulations!</strong> You are done.</p>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button (click)="getReport()">Calculate</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>

</section>

<!--End of the stepper section-->

<!--Final result section-->

<section *ngIf="this.report">
  <mat-card>
    <mat-card-title>Final report: details</mat-card-title>
    <br/>
    <mat-card-content>

      <p><strong>Date:</strong> {{this.request.date}}</p>
      <p><strong>Name:</strong> {{this.request.name}}</p>
      <p><strong>Owner:</strong> {{this.request.owner}}</p>
      <p><strong>Customer:</strong> {{this.request.customer}}</p>
      <p><strong>Scope:</strong> {{this.request.scope}}</p>
      <p><strong>HA:</strong> {{this.request.high_availability}}</p>
      <p><strong>Monitoring:</strong> {{this.request.monitoring}}</p>
      <p><strong>Logging:</strong> {{this.request.logging}}</p>


    </mat-card-content>
  </mat-card>



  <br/>

  <div class="content" *ngIf="this.report">
    <table mat-table [dataSource]="requestInfo" class="mat-elevation-z8" >

      <ng-container matColumnDef="tot_RAM">
        <th mat-header-cell *matHeaderCellDef>Tot. RAM</th>
        <td mat-cell *matCellDef="let row">{{row.tot_RAM}}</td>
      </ng-container>

      <ng-container matColumnDef="tot_CPU">
        <th mat-header-cell *matHeaderCellDef>Tot. CPU</th>
        <td mat-cell *matCellDef="let row">{{row.tot_CPU}}</td>
      </ng-container>

      <ng-container matColumnDef="worker_nodes">
        <th mat-header-cell *matHeaderCellDef>Tot. worker nodes</th>
        <td mat-cell *matCellDef="let row">{{row.worker_nodes}}</td>
      </ng-container>

      <ng-container matColumnDef="master_nodes">
        <th mat-header-cell *matHeaderCellDef>Tot. master nodes</th>
        <td mat-cell *matCellDef="let row">{{row.master_nodes}}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <!--End of the final report section-->
</section>
